extends layout

block content
  h1= title

  form(id='parkingForm', action="/resource/parking", method="POST")
    div.form-group
        label.costumeAttr(for='Types') parking Types
        input#Types(type='text', name='Types')
    div.form-group
        label.costumeAttr(for='ticket') parking ticket
        input#ticket(type='number', name='ticket')
    div.form-group
        label.costumeAttr(for='capacity') parking capacity
        input#capacity(type='number', name='capacity')
    input(type="submit")

  script.
    document.forms['parkingForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });