body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.costumeAttr {  
  background-color: rgb(23, 228, 81);
  width: 180px;
  margin: 4px;
  text-align: center;
  color: white;
  padding: 9px;
  border-radius: 6px;
  font-weight: bolder;

}

.newAttr {
  width: 180px;
  margin: 4px;
  text-align: center;
  padding: 9px;
  border-radius: 6px;
  font-weight: bolder;

}

#newtitle{
  color: #571c3e;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.newvalues{
  margin-right: 3px;
  margin-bottom: 0;
  padding: 9px;
  justify-content:center;
  font-weight: bold;
  border-bottom: 2px solid rgb(175, 114, 33);
  border-left: 2px solid  rgb(241, 222, 46);
  background-color: rgb(211, 236, 119);
  border-radius: 2px;
}
.specialstyles{
    border-top: 2px solid rgb(197, 68, 165);
    width: 50%;
}
.newvalues:hover{
  background-color: rgb(41, 148, 148);
  color: black;
} 
